*{
    padding: 0;
    margin: 0;
}
.jumbotron{
    background-color: #f3dbbb;
    text-align: center;
    margin-top: 30px;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 2px ;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-reserva{
    width: 100%;
}
footer{
    background: #36393b;
    color: #fff ;
    padding: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}
